@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-45deg, rgb(32, 41, 41), rgb(84, 84, 121));
    background-size: 400% 200%;
}

section {
    min-height: 450px;
}

.header-nav {
    background-image: linear-gradient(-45deg, rgb(30, 202, 202), rgb(84, 84, 121));
    background-size: 400% 200%;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.title {
    background-image: linear-gradient(-45deg, rgb(71, 80, 80), rgb(147, 147, 240));
    background-size: 400% 400%;
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.contact {
    padding-bottom: 100px;
}

.contact .card-body {
    /* margin-top: 10px; */
    border-radius: 0;
    border: none;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 10px 10px rgb(57, 55, 73);
}

.contact .card-header {
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: 10px 10px rgb(57, 55, 73);
    background-image: linear-gradient(-45deg, rgb(71, 80, 80), rgb(147, 147, 240));
    background-size: 400% 400%;
}

.contact .card {
    border: none;
    background: none;
}

.description {
    box-shadow: 10px 10px rgb(57, 55, 73);
    box-sizing: border-box;
    border-radius: 0;
}

.header .jumbotron {
    height: 20px;
    background-image: linear-gradient(-45deg, rgb(247, 248, 248), rgb(147, 147, 240));
    background-size: 400% 200%;
}


.header a {
    text-decoration: none;
}

.header a:hover {
    color: #fa0000;
}

.footer .jumbotron {
    background: none;
    margin-bottom: 0;
}

.footer i {
    color: salmon;
}

.footer i:hover {
    color: rgb(90, 188, 206);
}

.footer {
    text-align: left;
}

.footer .ico {
    text-align: right;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #fa0872;
}

.judul-syarat {
    text-align: left;
}

.nav-ac {
    animation: animate__rotateIn 1s;
    background-image: linear-gradient(-45deg, rgb(247, 248, 248), rgb(147, 147, 240));
    background-size: 400% 200%;
    border-radius: 50px;
}

.fa-arrow-down-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fa-arrow-up-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
    .nav-ac {
        /* animation: none; */
        width: fit-content;
        border-radius: 10px;
    }

    .header .jumbotron {
        height: 100px;
        padding-top: 100px;
    }

    .description {
        box-shadow: none;
    }

    .title {
        padding-bottom: 5px;
        margin-top: 0px;
    }

    .header .card-body {
        /* margin-top: 10px; */
        margin-bottom: 20px;
    }

    .contact .card {
        width: 99%;
        margin-left: 0.5%;
    }

    .contact .card-body {
        box-shadow: none;
    }

    .contact .card-header {
        box-shadow: none;
    }

    .footer {
        text-align: center;
    }

    .footer .ico {
        text-align: center;
    }

    .judul-syarat {
        text-align: center;
        margin-top: 10px;
    }

    section {
        min-height: 800px;
    }
}


@keyframes animate__rotateIn {
    from {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}